[Unit]
Description=SMTP Test Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /opt/smtp-test/smtp-test.py --logfile /var/log/smtp-test.log
KillSignal=SIGINT
Restart=always

[Install]
WantedBy=multi-user.target
